body {
    width: 1300px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    place-items: center;
    gap: 20px;
    padding: 20px;
}

img {
    height: 300;
    width: 300;
    border-radius: 20px;
}

.agua {
    height: 600;
    width: 600;
    border-radius: 20px;
}